@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: no-repeat linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  height: 100vh;
}

/* ---------------------------------------------- */
/* CARD STYLES */
/* ---------------------------------------------- */

.full-box {
  display: flex;
  background-color: #fff;
  max-width: 86%;
  width: 1120px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.full-box:before {
  background: url("./images/bg-pattern-desktop.svg") no-repeat -560px -280px;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

/* -------- IMAGE COLUMN ----------------------- */

.woman-img {
  position: relative;
  top: 15%;
  left: -13%;
}

.box-img {
  position: relative;
  bottom: 26%;
  right: 16.5%;
}

.faq-column {
  padding-right: 90px;
  width: 50%;
}

h1 {
  margin: 60px 0 20px;
}

p {
  display: inline-block;
  margin-bottom: 10px;
}

.question-row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 30px 0 15px;
}

.faq-question:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

/* -------- JS BEHAVIOR ----------------------- */

.hidden {
  display: none;
}

.rotate {
  transform: rotate(-180deg);
}

.bold {
  font-weight: 700;
}

/* ---------------------------------------------- */
/* QUERIES */
/* ---------------------------------------------- */

@media only screen and (max-width: 930px) {
  .faq-column {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 720px) {
  .full-box {
    flex-direction: column;
    height: 75%;
  }

  .img-column {
    height: 50%;
  }

  .woman-img {
    position: absolute;
    left: 30%;
    top: -17%;
    height: 200px;
    width: auto;
  }

  .box-img {
    position: relative;
    top: -20%;
    height: 30%;
    width: auto;
  }
}
